@{
    ViewBag.Title = "Página Inicial";
}

<p class="lead">Sistema de Cadastro de Exemplo, para cadastro de Pedidos, Clientes e Produtos</p>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default btn-block" href="/Pedido/Index">Pedidos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default btn-block" href="/Cliente/Index">Clientes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default btn-block" href="/Produto/Index">Produtos &raquo;</a></p>
    </div>
</div>