@{
    ViewBag.Title = "Pedidos";
}

@section scripts{
    <script type="text/javascript">

        //var $pagination = $('#pagination-demo');
        //var defaultOpts = { totalPages: 1 };

        $(function () {

            $('#pagination-demo').twbsPagination({ totalPages: 1 });

            CarregarClientes();
            IniciarOrdenacao("NumeroPedido");
        });

        function CarregarClientes() {

            $.ajax({
                type: 'GET',
                url: '/api/Cliente/Listar',
                datatype: 'html',
                success: function (data) {

                    $("#selCliente").empty();
                    var itens = '';

                    data.forEach(function (d) {
                        itens +=
                        '<option value="' + d.Id + '">' + d.Nome + '</option>';
                    });

                    $("#selCliente").html(itens);
                    $("#selCliente").select2({
                        placeholder: "Selecione o cliente",
                        allowClear: true
                    });
                    $("#selCliente").val(null).trigger("change");
                }
            });
        }

        function CarregarPedidos(idCliente, numeroPedido, dataIni, dataFim, pagina) {

            var order = $('#hdPedidoOrder').val();
            var dir = $('#hdPedidoDir').val();

            var url = '/api/Pedido/Buscar?pagina=' + pagina;
            if (idCliente)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;
            if (order.length > 0)
                url += '&order=' + order;
            if (dir.length > 0)
                url += '&dir=' + dir;

            $.ajax({
                type: 'GET',
                url: url,
                datatype: 'html',
                success: function (data) {

                    $("#listPedidos tbody").empty();
                    var rows = '';

                    data.forEach(function (d) {

                        rows +=
                        '<tr>' +
                        '<td>' + d.NumeroPedido + '</td>' +
                        '<td>' + d.NomeCliente + '</td>' +
                        '<td>' + d.DataEntregaFormat + '</td>' +
                        '<td>' + d.ValorTotal + '</td>' +
                        '<td>' +
                        //'<a type="submit" class="btn btn-success" href="/Pedido/Pedido/' + d.Id + '">Editar</a>' +
                        //'<a type="submit" class="btn btn-danger" onclick="ExcluirPedido(' + d.Id + ')">Excluir</a>' +
                        '</td></tr>';
                    });

                    $("#listPedidos tbody").html(rows);

                    AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina);
                }
            });
        }

        function AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina) {

            var url = '/api/Pedido/QuantidadePaginas?pagina=' + pagina;
            if (idCliente)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;

            $.ajax({
                type: 'GET',
                url: url,
                //datatype: 'html',
                success: function (data) {
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        initiateStartPageClick: false,
                        startPage: pagina,
                        totalPages: data,
                        visiblePages: 5,
                        first: 'Primeira',
                        prev: 'Anterior',
                        next: 'Próxima',
                        last: 'Última',
                        onPageClick: function (event, page) {
                            BuscarPedidos(page);
                        }
                    });
                }
            });
        }

        $('#btnBuscar').click(
            function () {
                BuscarPedidos(1);
            }
        );

        function BuscarPedidos(pagina) {

            var selCliente = $('#selCliente').val();
            $('#hdCliente').val(selCliente);
            var txtNumero = $('#txtNumero').val();
            $('#hdNumero').val(txtNumero);
            var dpPedidoIni = $('#dpPedidoIni').val();
            $('#hdPedidoIni').val(dpPedidoIni);
            var dpPedidoFim = $('#dpPedidoFim').val();
            $('#hdPedidoFim').val(dpPedidoFim);

            CarregarPedidos(selCliente, txtNumero, dpPedidoIni, dpPedidoFim, pagina);
        }

        $('#btnLimparFiltros').click(
            function () {
                $('#selCliente').val(null).trigger("change");
                $('#txtNumero').val('');
                $('#dpPedidoIni').val('');
                $('#dpPedidoFim').val('');
                IniciarOrdenacao("NumeroPedido");
            }
        );

        function ExcluirPedido(id) {

            ShowConfirmModal('Exclusão', 'Deseja excluir este Pedido?',
                function () {
                    var method = '/api/Pedido/Excluir/' + id;

                    $.ajax({
                        type: 'POST',
                        url: method,
                        datatype: 'html',
                        success: function (data) {

                            $('#modalPopup').modal('hide');
                            CarregarPedidos('', 1);
                            ShowMessageModal('Sucesso', 'Registro excluído com sucesso');
                        }
                    });
                },
                function () {
                    $('#modalPopup').modal('hide');
                });
        }

        function OrdenarTabela(campo, pagina) {

            var order = $('#hdPedidoOrder').val();
            var dir = $('#hdPedidoDir').val();

            $('th').removeClass('glyphicon-arrow-up');
            $('th').removeClass('glyphicon-arrow-down');

            if (order == campo)
                dir = dir == "asc" ? "desc" : "asc";
            else {
                order = campo;
                dir = "asc";
            }

            $('#th' + order).addClass(dir == "asc" ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up');

            $('#hdPedidoOrder').val(order);
            $('#hdPedidoDir').val(dir);

            BuscarPedidos(pagina);
        }

        function IniciarOrdenacao(campo) {

            var order = $('#hdPedidoOrder').val();
            var dir = $('#hdPedidoDir').val();

            $('th').removeClass('glyphicon-arrow-up');
            $('th').removeClass('glyphicon-arrow-down');

            dir = "asc";
            $('#th' + campo).addClass('glyphicon-arrow-down');

            $('#hdPedidoOrder').val(campo);
            $('#hdPedidoDir').val('asc');

            BuscarPedidos(1);
        }

    </script>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <fieldset>
            <legend>Consulta</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="selCliente">
                            Cliente
                        </label><br />
                        <select class="form-control" id="selCliente" />
                        <input type="hidden" class="form-control" id="hdCliente" />
                    </div>
                    <div class="form-group">
                        <label for="txtNumero">
                            Numero
                        </label>
                        <input type="text" class="form-control" id="txtNumero" />
                        <input type="hidden" class="form-control" id="hdNumero" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dpDataPedido">
                            Data do Pedido - Início
                        </label>
                        <input type="date" class="form-control" id="dpPedidoIni" data-provide="datepicker" />
                        <input type="hidden" class="form-control" id="hdPedidoIni" />
                    </div>
                    <div class="form-group">
                        <label for="dpDataPedido">
                            Data do Pedido - Fim
                        </label>
                        <input type="date" class="form-control" id="dpPedidoFim" data-provide="datepicker" />
                        <input type="hidden" class="form-control" id="hdPedidoFim" />
                    </div>
                </div>
            </div>
            <a id="btnBuscar" class="btn btn-default">
                Buscar
            </a>
            <a id="btnLimparFiltros" class="btn btn-default">
                Limpar Filtros
            </a>
        </fieldset>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <input type="hidden" id="hdPedidoOrder" />
        <input type="hidden" id="hdPedidoDir" />
        <table id="listPedidos" class="table">
            <thead>
                <tr>
                    <th colspan="4">
                        Lista de Pedidos

                        <a type="submit" class="btn btn-success" href="/Pedido/Pedido">
                            Novo
                        </a>
                    </th>
                </tr>
                <tr>
                    <th id="thNumeroPedido" width="20%" onclick="OrdenarTabela('NumeroPedido', 1);">
                        Número
                    </th>
                    <th id="thCliente" width="40%" onclick="OrdenarTabela('Cliente', 1);">
                        Cliente
                    </th>
                    <th id="thDataEntrega" width="20%" onclick="OrdenarTabela('DataEntrega', 1);">
                        Data de Entrega
                    </th>
                    <th id="thValorTotal" width="20%" onclick="OrdenarTabela('ValorTotal', 1);">
                        Valor Total
                    </th>
                    <th width="0%%">

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <input id="hdNumPaginas" type="hidden" />
        <ul id="pagination-demo" class="pagination-sm"></ul>
    </div>
</div>