@model TesteBematech.Dal.Pedido
@{
    ViewBag.Title = "Cadastro de Pedido";
    var idPedido = ViewContext.RouteData.Values["id"];
}

@section scripts{
    <script type="text/javascript">

        $(function () {

            $('#pagination-demo').twbsPagination({ totalPages: 1 });

            CarregarClientes();
            CarregarProdutos();

            var id = '@idPedido';

            if (id.length > 0)
                CarregarPedido(id);
        });

        function CarregarClientes() {

            $.ajax({
                type: 'GET',
                url: '/api/Cliente/Listar',
                datatype: 'html',
                success: function (data) {

                    $("#selCliente").empty();
                    var itens = '';

                    data.forEach(function (d) {
                        itens +=
                        '<option value="' + d.Id + '">' + d.Nome + '</option>';
                    });

                    $("#selCliente").html(itens);
                    $("#selCliente").select2({
                        placeholder: "Selecione o cliente",
                        allowClear: true
                    });
                    $("#selCliente").val(null).trigger("change");
                }
            });
        }

        function CarregarProdutos() {

            $.ajax({
                type: 'GET',
                url: '/api/Produto/Listar',
                datatype: 'html',
                success: function (data) {

                    $("#selProduto").empty();
                    var itens = '';

                    data.forEach(function (d) {
                        itens +=
                        '<option value="' + d.Id + '" valor="' + d.Valor + '">' + d.Nome + '</option>';
                    });

                    $("#selProduto").html(itens);
                    $("#selProduto").select2({
                        placeholder: "Selecione o produto",
                        allowClear: true,
                        width: '100%'
                    });
                    $("#selProduto").val(null).trigger("change");
                }
            });

        }

        function CarregarPedido(id) {

            var url = '/api/Pedido/Buscar/' + id;

            $.ajax({
                type: 'GET',
                url: url,
                datatype: 'html',
                success: function (data) {

                    $('#hdIdPedido').val(data.Id);
                    $('#selCliente').val(data.IdCliente).trigger("change");
                    $('#dpPedido').val(data.DataEntregaFormat);
                    $('#txtNumeroPedido').val(data.NumeroPedido);
                    $('#txtTotalPedido').val(data.ValorTotal);

                    $("#listItensPedido tbody").empty();
                    var rows = '';

                    data.ItemPedidoEdicao.forEach(function (d) {
                        tempId = new Date().getTime();
                        rows +=
                            '<tr tempId="' + tempId + '">' +
                            '<td><span id="nomeProduto" tempId="' + tempId + '">' + d.NomeProduto + '</span></td>' +
                            '<td><span id="quantidade" tempId="' + tempId + '">' + d.Quantidade + '</span></td>' +
                            '<td><span id="valor" tempId="' + tempId + '">' + d.Valor + '</span></td>' +
                            '<td><span id="valorTotal" tempId="' + tempId + '">' + d.ValorTotal + '</span></td>' +
                            '<td>' +
                            '<input id="idItemPedido" tempId="' + tempId + '" value="' + d.IdItemPedido + '" type="hidden"/>' +
                            '<input id="idProduto" tempId="' + tempId + '" value="' + d.IdProduto + '" type="hidden"/>' +
                            '<a type="submit" class="btn btn-success" onclick="EditarItemPedido(' + tempId + ')">Editar</a>' +
                            '<a type="submit" class="btn btn-danger" onclick="ExcluirItemPedido(' + tempId + ')">Excluir</a>' +
                            '</td></tr>';
                    });

                    $("#listItensPedido tbody").html(rows);

                    AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina);
                }
            });
        }

        function AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina) {

            var url = '/api/Pedido/QuantidadePaginas?pagina=' + pagina;
            if (idCliente.length > 0)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;

            $.ajax({
                type: 'GET',
                url: url,
                //datatype: 'html',
                success: function (data) {
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        initiateStartPageClick: false,
                        startPage: pagina,
                        totalPages: data,
                        visiblePages: 5,
                        first: 'Primeira',
                        prev: 'Anterior',
                        next: 'Próxima',
                        last: 'Última',
                        onPageClick: function (event, page) {

                            var hdBusca = $('#hdBusca').val();

                            CarregarPedidos(hdBusca, page);
                        }
                    });
                }
            });
        }

        $('#selProduto').change(
            function (e) {
                AtualizarTotaisItem();
            });

        $('#txtQuantidade').change(
            function (e) {
                AtualizarTotaisItem();
            });

        function AtualizarTotaisItem() {
            var valor = $("#selProduto :selected").attr("valor");
            var qtd = $("#txtQuantidade").val();
            $("#txtValorTotal").val(qtd * valor);
            $("#txtValor").val(valor);
        }

        $('#btnLimpar').click(
            function () {
                $('#txtBusca').val('');
                $('#hdBusca').val('');
                CarregarPedidos('', 1);
            }
        );

        $('#btnSalvar').click(
            function () {

                var idPedido = $('#hdIdPedido').val();
                var idCliente = $('#selCliente').val();
                var dataPedido = $('#dpPedido').val();
                var numeroPedido = $('#txtNumeroPedido').val();
                var valorTotal = $('#txtTotalPedido').val();

                var itens = [];
                $("table#listItensPedido tbody tr").each(function () {
                    var idItemPedido = $(this).find('#idItemPedido').html();
                    var idProduto = $(this).find('#idProduto').val();
                    var quantidade = $(this).find('#quantidade').html();
                    var valor = $(this).find('#valor').html();
                    var valorTotal = $(this).find('#valorTotal').html();
                    itens.push({ Id: idItemPedido, IdProduto: idProduto, Quantidade: quantidade, Valor: valor, ValorTotal: valorTotal });
                });

                if (Validar(dataPedido, itens)) Salvar(idPedido, idCliente, dataPedido, numeroPedido, valorTotal, itens);
            }
        );

        function Validar(dataPedido, itens) {
            var result = true;
            var message = '';

            var d = new Date();
            d.setHours(0, 0, 0, 0);
            var data = new Date(dataPedido);
            data.setHours(data.getHours() + data.getTimezoneOffset() / 60);

            if (dataPedido.length == 0) {
                result = false;
                message += "Data do Pedido não informada<br/>";
            }
            if (data < d.getTime()) {
                result = false;
                message += "Data do Pedido inferior a data atual<br/>";
            }
            if (itens.length == 0) {
                result = false;
                message += "Nenhum produto adicionado<br/>";
            }
            if (!result) ShowMessageModal('Alerta', message);

            return result;
        }

        function Salvar(idPedido, idCliente, dataPedido, numeroPedido, valorTotal, itens) {

            if (idPedido.length == 0) {
                idPedido = 0;
            }
            
            var method = '/api/Pedido/Salvar';
            var pedido = { Id: idPedido, IdCliente: idCliente, DataEntrega: dataPedido, NumeroPedido: numeroPedido, ValorTotal: valorTotal, ItensPedido: itens };

            $.ajax({
                type: 'POST',
                url: method,
                data: pedido,
                datatype: 'html',
                success: function (data) {
                    $('#modalCadastroClientes').modal('hide');
                    //LimparCamposCadastro();
                    //CarregarClientes('', 1);
                    ShowMessageRedirectModal('Sucesso', 'Dados gravados com sucesso', '/Pedido/Index/');
                }
            });
        }

        $('#btnSalvarItem').click(
            function () {

                var tempId = $('#hdTempId').val();
                var idItemPedido = $('#hdIdItemPedido').val();
                var idProduto = $('#selProduto').val();
                var nomeProduto = $("#selProduto :selected").html();
                var quantidade = $('#txtQuantidade').val();
                var valor = $('#txtValor').val();
                var valorTotal = $('#txtValorTotal').val();

                if (ValidarItem(idProduto, quantidade, tempId)) SalvarItem(tempId, idItemPedido, idProduto, nomeProduto, quantidade, valor, valorTotal);
            }
        );

        function ValidarItem(idProduto, quantidade, tempId) {
            var result = true;
            var message = '';

            if (!idProduto) {
                result = false;
                message += "Produto não selecionado<br/>";
            }
            if (quantidade.length == 0 || quantidade == 0) {
                result = false;
                message += "Quantidade não informada<br/>";
            }
            var contemProduto = Array.from($('#idProduto'))
                .some(function (el) {
                    return el.value == idProduto;
                });
            if (contemProduto) {
                result = false;
                message += "Produto já inserido<br/>";
            }
            if (!result) ShowMessageModal('Alerta', message);

            return result;
        }

        function SalvarItem(tempId, idItemPedido, idProduto, nomeProduto, quantidade, valor, valorTotal) {

            if (tempId.length > 0) {
                $('#idItemPedido[tempId="' + tempId + '"]').val(idItemPedido);
                $('#idProduto[tempId="' + tempId + '"]').val(idProduto);
                $('#nomeProduto[tempId="' + tempId + '"]').html(nomeProduto);
                $('#quantidade[tempId="' + tempId + '"]').html(quantidade);
                $('#valor[tempId="' + tempId + '"]').html(valor);
                $('#valorTotal[tempId="' + tempId + '"]').html(valorTotal);
            }
            else {
                tempId = new Date().getTime();
                var rows =
                    '<tr tempId="' + tempId + '">' +
                    '<td><span id="nomeProduto" tempId="' + tempId + '">' + nomeProduto + '</span></td>' +
                    '<td><span id="quantidade" tempId="' + tempId + '">' + quantidade + '</span></td>' +
                    '<td><span id="valor" tempId="' + tempId + '">' + valor + '</span></td>' +
                    '<td><span id="valorTotal" tempId="' + tempId + '">' + valorTotal + '</span></td>' +
                    '<td>' +
                    '<input id="idItemPedido" tempId="' + tempId + '" value="' + idItemPedido + '" type="hidden"/>' +
                    '<input id="idProduto" tempId="' + tempId + '" value="' + idProduto + '" type="hidden"/>' +
                    '<a type="submit" class="btn btn-success" onclick="EditarItemPedido(' + tempId + ')">Editar</a>' +
                    '<a type="submit" class="btn btn-danger" onclick="ExcluirItemPedido(' + tempId + ')">Excluir</a>' +
                    '</td></tr>';

                $("#listItensPedido tbody").append(rows);
            }

            AtualizarTotalPedido();
            LimparCadastroItem();
            $('#modalCadastroItemPedido').modal('hide');
        }

        function LimparCadastroItem() {

            $('#hdTempId').val('');
            $('#hdIdItemPedido').val('');
            $("#selProduto").val(null).trigger("change");
            $('#txtQuantidade').val('');
            $('#txtValor').val('');
            $('#txtValorTotal').val('');
        }

        function AtualizarTotalPedido() {

            var total = 0;
            $("table#listItensPedido tbody tr").each(function () {
                var valorTotal = $(this).find('#valorTotal').html();
                total += parseFloat(valorTotal);
            });
            $('#txtTotalPedido').val(total);
        }

        function EditarItemPedido(tempId) {

            $('#hdTempId').val(tempId);
            $('#hdIdProduto').val($('#idItemPedido[tempId="' + tempId + '"]').html());
            $("#selProduto").val($('#idProduto[tempId="' + tempId + '"]').val()).trigger("change");
            $('#txtQuantidade').val($('#quantidade[tempId="' + tempId + '"]').html());
            $('#txtValor').val($('#valor[tempId="' + tempId + '"]').html());
            $('#txtValorTotal').val($('#valorTotal[tempId="' + tempId + '"]').html());

            $('#modalCadastroItemPedido').modal('show');
        }

        function ExcluirItemPedido(tempId) {

            ShowConfirmModal('Exclusão', 'Deseja excluir este item?',
                function () {

                    $('tr[tempId="' + tempId + '"]').remove();

                    if ($('#idItemPedido[tempId="' + tempId + '"]').html().length > 0) {
                        var method = '/api/ItemPedido/Excluir/' + id;

                        $.ajax({
                            type: 'POST',
                            url: method,
                            datatype: 'html',
                            success: function (data) {
                                AtualizarTotalPedido();
                                $('#modalPopup').modal('hide');
                                ShowMessageModal('Sucesso', 'Registro excluído com sucesso');
                            }
                        });
                    }
                },
                function () {
                    $('#modalPopup').modal('hide');
                });
        }

        $('#btnCancelarItem').click(
            function () {
                LimparCadastroItem();
            }
        );

        $('#btnNovoItem').click(
            function () {
                LimparCadastroItem();
            }
        );

    </script>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <a id="btnSalvar" class="btn btn-primary">
            Salvar
        </a>
        <a id="btnLimpar" class="btn btn-default">
            Limpar
        </a>
        <a href="/Pedido/Index" class="btn btn-default">
            Cancelar
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <fieldset>
            <legend>
                Dados do Pedido
            </legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="selCliente">
                            Cliente
                        </label><br />
                        <select class="form-control" id="selCliente" />
                        <input type="hidden" class="form-control" id="hdIdPedido" />
                    </div>
                    <div class="form-group">
                        <label for="txtNumeroPedido">
                            Número do Pedido
                        </label><br />
                        <input type="text" class="form-control disabled" disabled id="txtNumeroPedido" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dpDataPedido">
                            Data do Pedido
                        </label>
                        <input type="date" class="form-control" id="dpPedido" data-provide="datepicker" />
                    </div>
                    <div class="form-group">
                        <label for="txtTotalPedido">
                            Valor Total
                        </label><br />
                        <input type="text" class="form-control disabled" disabled id="txtTotalPedido" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <input type="hidden" id="hdPedidoOrder" value="Id" />
        <input type="hidden" id="hdPedidoDir" value="asc" />
        <table id="listItensPedido" class="table">
            <thead>
                <tr>
                    <th colspan="4">
                        Itens do Pedido

                        <a id="btnNovoItem" type="submit" class="btn btn-success" href="#modalCadastroItemPedido" data-toggle="modal">
                            Novo
                        </a>
                    </th>
                </tr>
                <tr>
                    <th width="40%">
                        Produto
                    </th>
                    <th width="10%">
                        Quantidade
                    </th>
                    <th width="15%">
                        Valor
                    </th>
                    <th width="15%">
                        Valor Total
                    </th>
                    <th width="20%">

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalCadastroItemPedido" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Cadastro de Item do Pedido
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="selProduto">
                                Produto
                            </label><br />
                            <select class="form-control js-example-basic-single" id="selProduto" />
                            <input type="hidden" class="form-control" id="hdIdItemPedido" />
                            <input type="hidden" class="form-control" id="hdTempId" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtValor">
                                Valor
                            </label>
                            <input type="number" class="form-control disabled" disabled id="txtValor" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtQuantidade">
                                Quantidade
                            </label>
                            <input type="number" class="form-control" id="txtQuantidade" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtValorTotal">
                                Valor Total
                            </label>
                            <input type="number" class="form-control disabled" disabled id="txtValorTotal" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnCancelarItem" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </a>
                <a id="btnSalvarItem" class="btn btn-primary">
                    Salvar
                </a>
            </div>
        </div>
    </div>
</div>
