@model TesteBematech.Models.PedidoModel
@{
    ViewBag.Title = "Pedidos";
}

@section scripts{
    <script type="text/javascript">

        //var $pagination = $('#pagination-demo');
        //var defaultOpts = { totalPages: 1 };

        $(function () {

            $('#pagination-demo').twbsPagination({ totalPages: 1 });

            //$("#selCliente").select2({
            //    placeholder: "Selecione o Cliente",
            //    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
            //        url: "/api/Cliente/Buscar",
            //        dataType: 'json',
            //        quietMillis: 250,
            //        data: function (term, page) {
            //            return {
            //                q: term, // search term
            //            };
            //        },
            //        results: function (data, page) { // parse the results into the format expected by Select2.
            //            // since we are using custom formatting functions we do not need to alter the remote JSON data
            //            return { results: data.items };
            //        },
            //        cache: true
            //    },
            //    initSelection: function (element, callback) {
            //        // the input tag has a value attribute preloaded that points to a preselected repository's id
            //        // this function resolves that id attribute to an object that select2 can render
            //        // using its formatResult renderer - that way the repository name is shown preselected
            //        var id = $(element).val();
            //        if (id !== "") {
            //            $.ajax("https://api.github.com/repositories/" + id, {
            //                dataType: "json"
            //            }).done(function (data) { callback(data); });
            //        }
            //    },
            //    formatResult: repoFormatResult, // omitted for brevity, see the source of this page
            //    formatSelection: repoFormatSelection,  // omitted for brevity, see the source of this page
            //    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            //    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
            //});

            CarregarPedidos('', '', '', '', 1);
        });

        function CarregarClientes() {

            $("#selCliente").html('');
            
        }

        function CarregarPedidos(idCliente, numeroPedido, dataIni, dataFim, pagina) {

            var order = $('#hdPedidoOrder').val();
            var dir = $('#hdPedidoDir').val();

            var url = '/api/Pedido/Buscar?pagina=' + pagina;
            if (idCliente.length > 0)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;
            if (order.length > 0)
                url += '&order=' + order;
            if (dir.length > 0)
                url += '&dir=' + dir;

            $.ajax({
                type: 'GET',
                url: url,
                datatype: 'html',
                success: function (data) {

                    $("#listPedidos tbody").empty();
                    var rows = '';

                    data.forEach(function (d) {
                        rows +=
                        '<tr>' +
                        '<td>' + d.Id + '</td>' +
                        '<td>' + d.Nome + '</td>' +
                        '<td>' + d.Cpf + '</td>' +
                        '<td>' +
                        '<a type="submit" class="btn btn-success" href="/Pedido/Pedido/' + d.Id + '">Editar</a>' +
                        '<a type="submit" class="btn btn-danger" onclick="ExcluirPedido(' + d.Id + ')">Excluir</a>' +
                        '</td></tr>';
                    });

                    $("#listPedidos tbody").html(rows);

                    AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina);
                }
            });
        }

        function AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina) {

            var url = '/api/Pedido/QuantidadePaginas?pagina=' + pagina;
            if (idCliente.length > 0)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;

            $.ajax({
                type: 'GET',
                url: url,
                //datatype: 'html',
                success: function (data) {
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        initiateStartPageClick: false,
                        startPage: pagina,
                        totalPages: data,
                        visiblePages: 5,
                        first: 'Primeira',
                        prev: 'Anterior',
                        next: 'Próxima',
                        last: 'Última',
                        onPageClick: function (event, page) {

                            var hdBusca = $('#hdBusca').val();

                            CarregarPedidos(hdBusca, page);
                        }
                    });
                }
            });
        }

        function LimparCamposBusca() {
            $('#txtBusca').val('');
            $('#hdBusca').val('');
        }

        $('#btnBuscar').click(
            function () {
                var selCliente = $('#selCliente').val();
                $('#hdCliente').val(selCliente);
                var txtNumero = $('#txtNumero').val();
                $('#hdNumero').val(txtNumero);
                var dpPedidoIni = $('#dpPedidoIni').val();
                $('#hdPedidoIni').val(dpPedidoIni);
                var dpPedidoFim = $('#dpPedidoFim').val();
                $('#hdPedidoFim').val(dpPedidoFim);

                CarregarPedidos(selCliente, txtNumero, dpPedidoIni, dpPedidoFim, 1, order, dir);
            }
        );

        $('#btnLimparFiltros').click(
            function () {
                $('#txtBusca').val('');
                $('#hdBusca').val('');
                CarregarPedidos('', 1);
            }
        );

        function ExcluirPedido(id) {

            ShowConfirmModal('Exclusão', 'Deseja excluir este Pedido?',
                function () {
                    var method = '/api/Pedido/Excluir/' + id;

                    $.ajax({
                        type: 'POST',
                        url: method,
                        datatype: 'html',
                        success: function (data) {

                            $('#modalPopup').modal('hide');
                            CarregarPedidos('', 1);
                            ShowMessageModal('Sucesso', 'Registro excluído com sucesso');
                        }
                    });
                },
                function () {
                    $('#modalPopup').modal('hide');
                });
        }

    </script>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <fieldset>
            <legend>Consulta</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="selCliente">
                            Cliente
                        </label>
                        <select class="form-control" id="selCliente" />
                        <input type="hidden" class="form-control" id="hdCliente" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dpDataPedido">
                            Data do Pedido
                        </label>
                        <input type="date" class="form-control" id="dpPedido" data-provide="datepicker" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <input type="hidden" id="hdPedidoOrder" value="Id" />
        <input type="hidden" id="hdPedidoDir" value="asc" />
        <table id="listPedidos" class="table">
            <thead>
                <tr>
                    <th colspan="4">
                        Lista de Pedidos
                    </th>
                </tr>
                <tr>
                    <th width="80">
                        #
                    </th>
                    <th width="40%">
                        Nome
                    </th>
                    <th width="30%">
                        CPF
                    </th>
                    <th width="20%%">

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <input id="hdNumPaginas" type="hidden" />
        <ul id="pagination-demo" class="pagination-sm"></ul>
    </div>
</div>