@model TesteBematech.Dal.Pedido
@{
    ViewBag.Title = "Cadastro de Pedido";
    var idPedido = ViewContext.RouteData.Values["id"];
}

@section scripts{
    <script type="text/javascript">

        //var $pagination = $('#pagination-demo');
        //var defaultOpts = { totalPages: 1 };

        $(function () {

            $('#pagination-demo').twbsPagination({ totalPages: 1 });

            //$("#selCliente").select2({
            //    placeholder: "Selecione o Cliente",
            //    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
            //        url: "/api/Cliente/Buscar",
            //        dataType: 'json',
            //        quietMillis: 250,
            //        data: function (term, page) {
            //            return {
            //                q: term, // search term
            //            };
            //        },
            //        results: function (data, page) { // parse the results into the format expected by Select2.
            //            // since we are using custom formatting functions we do not need to alter the remote JSON data
            //            return { results: data.items };
            //        },
            //        cache: true
            //    },
            //    initSelection: function (element, callback) {
            //        // the input tag has a value attribute preloaded that points to a preselected repository's id
            //        // this function resolves that id attribute to an object that select2 can render
            //        // using its formatResult renderer - that way the repository name is shown preselected
            //        var id = $(element).val();
            //        if (id !== "") {
            //            $.ajax("https://api.github.com/repositories/" + id, {
            //                dataType: "json"
            //            }).done(function (data) { callback(data); });
            //        }
            //    },
            //    formatResult: repoFormatResult, // omitted for brevity, see the source of this page
            //    formatSelection: repoFormatSelection,  // omitted for brevity, see the source of this page
            //    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            //    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
            //});

            CarregarClientes();
            CarregarProdutos();

            var id = '@idPedido';

            if (id.length > 0)
                CarregarPedido(id);
        });

        function CarregarClientes() {

            $.ajax({
                type: 'GET',
                url: '/api/Cliente/Listar',
                datatype: 'html',
                success: function (data) {

                    $("#selCliente").empty();
                    var itens = '';

                    data.forEach(function (d) {
                        itens +=
                        '<option value="' + d.Id + '">' + d.Nome + '</option>';
                    });

                    $("#selCliente").html(itens);
                    $("#selCliente").select2({
                        placeholder: "Selecione o cliente",
                        allowClear: true
                    });
                    $("#selCliente").val(null).trigger("change");
                }
            });
        }

        function CarregarProdutos() {

            $.ajax({
                type: 'GET',
                url: '/api/Produto/Listar',
                datatype: 'html',
                success: function (data) {

                    $("#selProduto").empty();
                    var itens = '';

                    data.forEach(function (d) {
                        itens +=
                        '<option value="' + d.Id + '" valor="' + d.Valor + '">' + d.Nome + '</option>';
                    });

                    $("#selProduto").html(itens);
                    $("#selProduto").select2({
                        placeholder: "Selecione o produto",
                        allowClear: true,
                        width: '100%'
                    });
                    $("#selProduto").val(null).trigger("change");
                }
            });

        }

        function CarregarPedido(id) {

            var order = $('#hdPedidoOrder').val();
            var dir = $('#hdPedidoDir').val();

            var url = '/api/Pedido/Buscar?pagina=' + pagina;
            if (idCliente.length > 0)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;
            if (order.length > 0)
                url += '&order=' + order;
            if (dir.length > 0)
                url += '&dir=' + dir;

            $.ajax({
                type: 'GET',
                url: url,
                datatype: 'html',
                success: function (data) {

                    $("#listItensPedido tbody").empty();
                    var rows = '';

                    data.forEach(function (d) {
                        rows +=
                            '<tr tempId="' + tempId + '">' +
                            '<td><span id="nomeProduto" tempId="' + tempId + '">' + nomeProduto + '</span></td>' +
                            '<td><span id="quantidade" tempId="' + tempId + '">' + quantidade + '</span></td>' +
                            '<td><span id="valor" tempId="' + tempId + '">' + valor + '</span></td>' +
                            '<td><span id="valorTotal" tempId="' + tempId + '">' + valorTotal + '</span></td>' +
                            '<td>' +
                            '<input id="idItemPedido" tempId="' + tempId + '" value="' + idItemPedido + '" type="hidden"/>' +
                            '<input id="idProduto" tempId="' + tempId + '" value="' + idProduto + '" type="hidden"/>' +
                            '<a type="submit" class="btn btn-success" onclick="EditarItemPedido(' + tempId + ')">Editar</a>' +
                            '<a type="submit" class="btn btn-danger" onclick="ExcluirItemPedido(' + tempId + ')">Excluir</a>' +
                            '</td></tr>';
                    });

                    $("#listItensPedido tbody").html(rows);

                    AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina);
                }
            });
        }

        function AtualizarPaginador(idCliente, numeroPedido, dataIni, dataFim, pagina) {

            var url = '/api/Pedido/QuantidadePaginas?pagina=' + pagina;
            if (idCliente.length > 0)
                url += '&idCliente=' + idCliente;
            if (numeroPedido.length > 0)
                url += '&numeroPedido=' + numeroPedido;
            if (dataIni)
                url += '&dataIni=' + dataIni;
            if (dataFim)
                url += '&dataFim=' + dataFim;

            $.ajax({
                type: 'GET',
                url: url,
                //datatype: 'html',
                success: function (data) {
                    $('#pagination-demo').twbsPagination('destroy');
                    $('#pagination-demo').twbsPagination({
                        initiateStartPageClick: false,
                        startPage: pagina,
                        totalPages: data,
                        visiblePages: 5,
                        first: 'Primeira',
                        prev: 'Anterior',
                        next: 'Próxima',
                        last: 'Última',
                        onPageClick: function (event, page) {

                            var hdBusca = $('#hdBusca').val();

                            CarregarPedidos(hdBusca, page);
                        }
                    });
                }
            });
        }

        $('#selProduto').change(
            function (e) {
                AtualizarTotaisItem();
            });

        $('#txtQuantidade').change(
            function (e) {
                AtualizarTotaisItem();
            });

        function AtualizarTotaisItem() {
            var valor = $("#selProduto :selected").attr("valor");
            var qtd = $("#txtQuantidade").val();
            $("#txtValorTotal").val(qtd * valor);
            $("#txtValor").val(valor);
        }

        $('#btnLimpar').click(
            function () {
                $('#txtBusca').val('');
                $('#hdBusca').val('');
                CarregarPedidos('', 1);
            }
        );

        $('#btnSalvarItem').click(
            function () {

                var tempId = $('#hdTempId').val();
                var idItemPedido = $('#hdIdItemPedido').val();
                var idProduto = $('#selProduto').val();
                var nomeProduto = $("#selProduto :selected").html();
                var quantidade = $('#txtQuantidade').val();
                var valor = $('#txtValor').val();
                var valorTotal = $('#txtValorTotal').val();

                if (ValidarItem(idProduto, quantidade)) SalvarItem(tempId, idItemPedido, idProduto, nomeProduto, quantidade, valor, valorTotal);
            }
        );

        function ValidarItem(idProduto, quantidade) {
            var result = true;
            var message = '';

            if (!idProduto) {
                result = false;
                message += "Produto não selecionado<br/>";
            }
            if (quantidade.length == 0 || quantidade == 0) {
                result = false;
                message += "Quantidade não informada<br/>";
            }
            if (!result) ShowMessageModal('Alerta', message);

            return result;
        }

        function SalvarItem(tempId, idItemPedido, idProduto, nomeProduto, quantidade, valor, valorTotal) {

            if (tempId.length > 0) {
                $('#idItemPedido[tempId="' + tempId + '"]').val(idItemPedido);
                $('#idProduto[tempId="' + tempId + '"]').val(idProduto);
                $('#nomeProduto[tempId="' + tempId + '"]').html(nomeProduto);
                $('#quantidade[tempId="' + tempId + '"]').html(quantidade);
                $('#valor[tempId="' + tempId + '"]').html(valor);
                $('#valorTotal[tempId="' + tempId + '"]').html(valorTotal);
            }
            else {
                tempId = new Date().getTime();
                var rows =
                    '<tr tempId="' + tempId + '">' +
                    '<td><span id="nomeProduto" tempId="' + tempId + '">' + nomeProduto + '</span></td>' +
                    '<td><span id="quantidade" tempId="' + tempId + '">' + quantidade + '</span></td>' +
                    '<td><span id="valor" tempId="' + tempId + '">' + valor + '</span></td>' +
                    '<td><span id="valorTotal" tempId="' + tempId + '">' + valorTotal + '</span></td>' +
                    '<td>' +
                    '<input id="idItemPedido" tempId="' + tempId + '" value="' + idItemPedido + '" type="hidden"/>' +
                    '<input id="idProduto" tempId="' + tempId + '" value="' + idProduto + '" type="hidden"/>' +
                    '<a type="submit" class="btn btn-success" onclick="EditarItemPedido(' + tempId + ')">Editar</a>' +
                    '<a type="submit" class="btn btn-danger" onclick="ExcluirItemPedido(' + tempId + ')">Excluir</a>' +
                    '</td></tr>';

                $("#listItensPedido tbody").append(rows);
            }

            LimparCadastroItem();
            $('#modalCadastroItemPedido').modal('hide');
        }

        function LimparCadastroItem() {

            $('#hdTempId').val('');
            $('#hdIdItemPedido').val('');
            $("#selProduto").val(null).trigger("change");
            $('#txtQuantidade').val('');
            $('#txtValor').val('');
            $('#txtValorTotal').val('');
        }

        function EditarItemPedido(tempId) {

            $('#hdTempId').val(tempId);
            $('#hdIdProduto').val($('#idItemPedido[tempId="' + tempId + '"]').html());
            $("#selProduto").val($('#idProduto[tempId="' + tempId + '"]').val()).trigger("change");
            $('#txtQuantidade').val($('#quantidade[tempId="' + tempId + '"]').html());
            $('#txtValor').val($('#valor[tempId="' + tempId + '"]').html());
            $('#txtValorTotal').val($('#valorTotal[tempId="' + tempId + '"]').html());

            $('#modalCadastroItemPedido').modal('show');
        }

        function ExcluirItemPedido(tempId) {

            ShowConfirmModal('Exclusão', 'Deseja excluir este Pedido?',
                function () {
                    var method = '/api/Pedido/Excluir/' + id;

                    $.ajax({
                        type: 'POST',
                        url: method,
                        datatype: 'html',
                        success: function (data) {

                            $('#modalPopup').modal('hide');
                            CarregarPedidos('', 1);
                            ShowMessageModal('Sucesso', 'Registro excluído com sucesso');
                        }
                    });
                },
                function () {
                    $('#modalPopup').modal('hide');
                });
        }

        $('#btnCancelarItem').click(
            function () {
                LimparCadastroItem();
            }
        );

        $('#btnNovoItem').click(
            function () {
                LimparCadastroItem();
            }
        );

    </script>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <a id="btnSalvar" class="btn btn-primary">
            Salvar
        </a>
        <a id="btnLimpar" class="btn btn-default">
            Limpar
        </a>
        <a href="/Pedido/Index" class="btn btn-default">
            Cancelar
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <fieldset>
            <legend>
                Dados do Pedido
            </legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="selCliente">
                            Cliente
                        </label><br />
                        <select class="form-control" id="selCliente" />
                        <input type="hidden" class="form-control" id="hdCliente" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dpDataPedido">
                            Data do Pedido
                        </label>
                        <input type="date" class="form-control" id="dpPedido" data-provide="datepicker" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <input type="hidden" id="hdPedidoOrder" value="Id" />
        <input type="hidden" id="hdPedidoDir" value="asc" />
        <table id="listItensPedido" class="table">
            <thead>
                <tr>
                    <th colspan="4">
                        Itens do Pedido

                        <a id="btnNovoItem" type="submit" class="btn btn-success" href="#modalCadastroItemPedido" data-toggle="modal">
                            Novo
                        </a>
                    </th>
                </tr>
                <tr>
                    <th width="40%">
                        Produto
                    </th>
                    <th width="10%">
                        Quantidade
                    </th>
                    <th width="15%">
                        Valor
                    </th>
                    <th width="15%">
                        Valor Total
                    </th>
                    <th width="20%">

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modalCadastroItemPedido" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Cadastro de Item do Pedido
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="selProduto">
                                Produto
                            </label><br />
                            <select class="form-control js-example-basic-single" id="selProduto" />
                            <input type="hidden" class="form-control" id="hdIdItemPedido" />
                            <input type="hidden" class="form-control" id="hdTempId" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtValor">
                                Valor
                            </label>
                            <input type="number" class="form-control disabled" disabled id="txtValor" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtQuantidade">
                                Quantidade
                            </label>
                            <input type="number" class="form-control" id="txtQuantidade" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtValorTotal">
                                Valor Total
                            </label>
                            <input type="number" class="form-control disabled" disabled id="txtValorTotal" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnCancelarItem" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </a>
                <a id="btnSalvarItem" class="btn btn-primary">
                    Salvar
                </a>
            </div>
        </div>
    </div>
</div>
